body {
  font-family: sans-serif;
  font-size: 100%;
  background-color: #d9d9d9;
}


/* original Lansira text color: #BC472F */
h3  {
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
}

p   {
  color: #000;
  text-align: center;
  font-size:8pt;
}
#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 220px;
  max-width: 600px;
}

legend{
  color: #000;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}

.setAdder {
  display: inline;
  background-color: #489E25;
  border: none;
  color: white;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
  float: right;

}

.setAdder:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.setAdder:active  {
  background-color: #2f6718;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.setDeleter {
  display: inline;
  background-color: #800000;
  border: none;
  color: #fff;
  padding: 3px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 10px 10px;
  cursor: pointer;
  vertical-align: middle;

}

.setDeleter:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.setDeleter:active  {
  background-color:  #4d0000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button, .tabSetButton {
  display: inline;
  background-color: #3463af;
  border: none;
  color: #fff;
  padding: 3px 3px;
  text-align: center;
  text-decoration: center;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
  width:100%;
}

.button, .tabSetButton:active  {
  background-color: #192f54;
  box-shadow: 0 5px #666;
  transform: transalteY(4px);
}

.optionsButton:active {
  background-color: #843221;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.optionsButton {
  display: inline;
  background-color: #BC472F;
  border: none;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: 0 2px #666;
}

.button:hover, .tabSetButton:hover, .optionsButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


button[title] {
  font-size:12pt;
}

input, button {
  vertical-align: middle;
}
legend{
  text-align:left;
}

hr.top_line{
  border-top: 4px double #8c8b8b;
}

label {
  font-size: 10px;
  font-family: "Arial Black", Gadget, sans-serif;
}